.header{
    height: 70px;
    width: 100%;
    background-color: black;
}
.content-left{
    height: 900px;
    width: 20%;
    background-color: blue;
    float: left;

}
.content-right{
    height: 900px;
    width: 80%;
    background-color:gray;
    float: left;
}
.footer{
    height: 150px;
    width: 100%;
    background-color:darkslategrey;
    float: left;
}